:root {
    --primary-color: #4b1646;
    --secondary-color: #334F53;
    --tertiary-color: #45936C;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5.75rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icone {
    width: 20px;
}